<section class="error">
    <div class = "parentDiv">
        <div class = "homeInfo">
            <h2> Error </h2>
        <p class="error">{{ error }}</p>
            
        </div>
        <div class = "pictureInfo">
            <img src="../public/images/cat.jpg">
        </div>
    </div>
</section>