<section>
    <main>
        <div class = "parentDiv">
            <div class = "homeInfo">
                <h1>Welcome to Goodminton</h1>
                <p>Goodminton is a website that allows you to find badminton events near you and sign up for them. You can also create your own events and invite others to join.</p>
                {{#if user}}
                    <p>Check to see what events there are</p>
                    <a href = "/events"> Events</a>
                {{else}}
                    <p>Sign up today to start playing!</p>
                    <a href href = "/register">Sign Up</a> 
                {{/if}}
            </div>
            <div class = "pictureInfo">
                <img src = "/public/images/badminton.jpg" alt = "Picture of Bryan">
            </div>
        </div>
    </main>
</section>