<section>
<<<<<<< Updated upstream
    <div class="loginPage">
        <form class = "loginForm" id = "loginForm">
            <h3>Login</h3>
            <label>Username</label>
            <input type="text" id="username" name="username" placeholder="">
            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="********">
            <button class="loginButton" type="submit">Login</button>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </form>
    </div>
=======
    <main>
        <div class="loginPage">
            <form action "/login" class = "loginForm" id = "loginForm">
                <h3>Login</h3>
                <label>Username</label>
                <input type="text" id="username" name="username" placeholder="">
                <label>Password</label>
                <input type="password" id="password" name="password" placeholder="********">
                <button class="loginButton" type="submit">Login</button>
                <p id = "error"></p>
                <p>Don't have an account? <a href="/register">Register</a></p>
            </form>
        </div>
    </main>
>>>>>>> Stashed changes
</section>