<section>
    <div class="loginPage">
        <form action="/login" method="POST" class = "loginForm" id = "loginForm">
            <h3>Login</h3>
            <label>email</label>
            <input type="text" id="email" name="email" placeholder="">
            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="********">
            <button class="loginButton" type="submit">Login</button>
            <p id = "error">{{error}}</p>
            <p>Don't have an account? <a href="/register">Register</a></p>
        </form>
    </div>
</section>