<section>
    <main>
        <div class="loginPage">
            <div class="loginInfo">
                <h1>Login</h1>
                <h3>Username</h3>
                <input type="text" id="username" name="username" placeholder="">
                <h3>Password</h3>
                <input type="password" id="password" name="password" placeholder="********">
                <button class="loginButton">Login</button>
                <p>Don't have an account? <a href="/register">Sign up</a></p>
            </div>
        </div>
    </main>
</section>