<section>
    <div class = "registerPage">
        <div class = "registerInfo">
            <h1>Register</h1>
            <h3>Username</h3>
            <input type="text" id="username" name="username" placeholder="">
            <h3>Email</h3>
            <input type="text" id="email" name="email" placeholder="">
            <h3>Password</h3>
            <input type="password" id="password" name="password" placeholder="********">
            <h3>Confirm Password</h3>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="********">
            <h3>Phone Number</h3>
            <input type="text" id="phoneNumber" name="phoneNumber" placeholder="">
            <button class="registerButton">Register</button>
            <p>Already have an account? <a href="/login">Login</a></p>
    </div>
</section>