<section id="roundrobin">
    <h1>Round Robin</h1>
    {{#if loggedIn}}
        {{#if inTimeslot}}
            <button class="leave-button" data-id="{{timeStamp}}">Leave</button>
        {{else}}
            <button class="join-button" data-id="{{timeStamp}}">Join</button>
        {{/if}}
    {{/if}}
    <div id="roundrobin-div">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/roundrobin.js"></script>
    <script src="/public/js/singleEvent.js"></script>
    
</section>