<h1>Swiss</h1>
<main id="swiss">
    <div id="swiss-div">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/public/js/swiss.js"></script>
    
</main>