.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
    align-items: center;
    overflow: hidden;
}

.navitem {
    float: left;
    justify-content: center;
    font-size: 25px;
    border-right: 1px solid #bbb;
}

.navitem a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.navitem a:hover{
    color:white;
    background-color: #111111;
}

.navitem:last-child{
    margin-left: auto;
    float:right;
    justify-content: center;
    font-size: 25px;
    border-right: none;
}

.navlogo{
    float: left;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #bbb;

  text-decoration: none;
}
.navlogo a {
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}